* {
    box-sizing: border-box;
    border: 1px solid;  
}

.calculator {
    width: 300px;
}

.display {
    height: 100px;
    border: 1px solid;
    text-align: center;
    /* display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end; */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}