* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow: hidden;
    margin: 0;
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 400px;
    height: 500px;
}

.display {
    border: 1px solid;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
}

.result {
    font-size: 40px;
    margin: 0;
}

.operation {
    font-size: 30px;
    opacity: 0.3;
    margin: 10px 0 0 0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 400px;
}

.btn {
    font-size: 24px;

}

@media (max-width: 640px) {
    body {
        padding: 30px;
    }

    .center {
        height: 95vh;
    }

    .buttons {
        height: 300px;
    }
}